In [132]:
# 복습
# 코로나 파일 로드
# 결측치 존재 여부 확인 
# unnamed:0 컬럼 삭제
# 컬럼의 이름 변경 [등록일시. 사망자, 확진자, 게시글번호, 기준일, 기준시간, 수정일시, 누적 의심자, 누적 확진률]
# 등록일시 기준 오름차순 정렬 인덱스 리셋 기존의 인덱스 삭제
# 새로운 파생변수 일일 사망자 일일 화진자 생성 
# 게시글번호, 기준일, 기준시간, 컬럼 삭제

In [133]:
import pandas as pd
import numpy as np

In [134]:
df = pd.read_csv("../csv/corona.csv")
df = pd.DataFrame(df)
df.head(3)

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN

In [135]:
df.isna().sum()

Unnamed: 0      0
createDt        0
deathCnt        0
decideCnt       0
seq             0
stateDt         0
stateTime       0
updateDt        3
accExamCnt    128
accDefRate    197
dtype: int64

In [136]:
df.drop(["Unnamed: 0"], axis=1, inplace = True)

In [137]:
df.columns = ["등록일시", "사망자", "확진자","게시글번호", "기준일", "기준시간", "수정일시", "누적의심자", "누적확진율"]

In [138]:
df.sort_values(["등록일시"], inplace=True)

In [139]:
df.reset_index(drop =True, inplace=True)

In [140]:
df["일일확진자"] = df["확진자"] - df.shift(1)["확진자"]

In [141]:
df["일일사망자"] = df["사망자"] - df.shift(1)["사망자"]

In [142]:
df.drop(["게시글번호" ,"기준일", "기준시간"],axis=1,inplace=True)

In [143]:
error = df[(df["일일사망자"] < 0)].index

In [144]:
df

,등록일시,사망자,확진자,수정일시,누적의심자,누적확진율,일일확진자,일일사망자
0,2020-03-10 00:00:00.000,54,7513,2021-10-07 10:30:51.51,210144.0,3.919308,NaN,NaN
1,2020-03-11 00:00:00.000,60,7755,2021-10-07 10:30:51.51,222395.0,3.804175,242.0,6.0
2,2020-03-12 00:00:00.000,66,7869,2021-10-07 10:30:51.51,234998.0,3.621744,114.0,6.0
3,2020-03-13 00:00:00.000,67,7979,2021-10-07 10:30:51.51,248647.0,3.458499,110.0,1.0
4,2020-03-14 00:00:00.000,72,8086,2021-10-07 10:30:51.51,261335.0,3.318000,107.0,5.0
...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,2022-06-08 09:11:26.303,NaN,NaN,12039.0,9.0
816,2022-06-05 08:53:19.426,24258,18163648,2022-06-08 09:11:04.758,NaN,NaN,9834.0,20.0
817,2022-06-06 09:00:06.734,24279,18168670,2022-06-08 09:10:50.441,NaN,NaN,5022.0,21.0
818,2022-06-07 09:09:00.897,24299,18174842,2022-06-08 09:10:36.846,NaN,NaN,6172.0,20.0
819,2022-06-08 09:09:05.982,24305,18188200,NaN,NaN,NaN,13358.0,6.0

In [145]:
df =df.drop(error,axis=0)
df

,등록일시,사망자,확진자,수정일시,누적의심자,누적확진율,일일확진자,일일사망자
0,2020-03-10 00:00:00.000,54,7513,2021-10-07 10:30:51.51,210144.0,3.919308,NaN,NaN
1,2020-03-11 00:00:00.000,60,7755,2021-10-07 10:30:51.51,222395.0,3.804175,242.0,6.0
2,2020-03-12 00:00:00.000,66,7869,2021-10-07 10:30:51.51,234998.0,3.621744,114.0,6.0
3,2020-03-13 00:00:00.000,67,7979,2021-10-07 10:30:51.51,248647.0,3.458499,110.0,1.0
4,2020-03-14 00:00:00.000,72,8086,2021-10-07 10:30:51.51,261335.0,3.318000,107.0,5.0
...,...,...,...,...,...,...,...,...
815,2022-06-04 08:56:49.219,24238,18153814,2022-06-08 09:11:26.303,NaN,NaN,12039.0,9.0
816,2022-06-05 08:53:19.426,24258,18163648,2022-06-08 09:11:04.758,NaN,NaN,9834.0,20.0
817,2022-06-06 09:00:06.734,24279,18168670,2022-06-08 09:10:50.441,NaN,NaN,5022.0,21.0
818,2022-06-07 09:09:00.897,24299,18174842,2022-06-08 09:10:36.846,NaN,NaN,6172.0,20.0
819,2022-06-08 09:09:05.982,24305,18188200,NaN,NaN,NaN,13358.0,6.0