In [11]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\새 폴더\python\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\새 폴더\python\lib\site-packages (from pymongo) (2.2.1)

In [12]:
from pymongo import MongoClient

In [13]:
client = MongoClient(
    host="localhost",
    port=27017
)

In [14]:
# mongodb에 있는 데이터베이스 출력

client.list_database_names()

['admin', 'config', 'local', 'ubion']

In [15]:
# 데이터 접근 use와 같은 기능 
# mongodb에서는 use사용하면 새로운 데이터 생성 될 수 있음

db = client["ubion"]

In [16]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ubion')

In [17]:
#  collection 접근 (collection은 sql의 테이블과 같은 의미)

collection = db["test"]

In [18]:
# crud 작업

# create 작업  >  insert() 
# insert_many()/ insert_one() 두 개의 함수 존재
# sql 에서도 같은 기능이 존재
# insert into() 테이블명(필드 지정) values (데이터 값)
# insert into() 테이블명(필드 지정) value (데이터 값)

data = {
    "id" : "test",
    "password" : "1234"
}
collection.insert_one(data)

In [19]:
collection.find_one()

{'_id': ObjectId('63ace0f85cfa31ba6493b5cc'), 'id': 'test', 'password': '1234'}

In [21]:
data = [
    {
        "name" : "test",
        "phone" : "01012345678",
        "gender" : "male"
    },
    {
        "loc" : "seoul"
    }
]

collection.insert_many(data)

In [22]:
#  sql에서 id, pasaword 데이터 / name phone gendr 데이터 / loc데이터 가 존재한다면 어떠 형식으로 구성?
# table 3개 생성해서 각 table에 데이터 저장 ( id password 하나 name~gender 하나 loc 하나 총 3개의 테이블 생성 필요 )
# 이유는 sql은 정형화 데이터를 저장하기 때문

In [26]:
list(client["ubion"]["test"].find({},{"name" : 1}))
#  위의 식에서 앞 {} 은 sql 에서 where와 같은 의미 selet name from test

[{'_id': ObjectId('63ace0f85cfa31ba6493b5cc')},
 {'_id': ObjectId('63ace0fd5cfa31ba6493b5ce')},
 {'_id': ObjectId('63ace31e5cfa31ba6493b5cf'), 'name': 'test'},
 {'_id': ObjectId('63ace31e5cfa31ba6493b5d0')}]

In [27]:
# update 수정 
collection.update_one(
    {
        "id" : "test"
    },
    {
        "$set" : {
            "password" : "0000"
        }
    }
)

In [28]:
list(collection.find())

[{'_id': ObjectId('63ace0f85cfa31ba6493b5cc'),
  'id': 'test',
  'password': '0000'},
 {'_id': ObjectId('63ace0fd5cfa31ba6493b5ce'),
  'id': 'test',
  'password': '1234'},
 {'_id': ObjectId('63ace31e5cfa31ba6493b5cf'),
  'name': 'test',
  'phone': '01012345678',
  'gender': 'male'},
 {'_id': ObjectId('63ace31e5cfa31ba6493b5d0'), 'loc': 'seoul'}]

In [30]:
# 삭제 delete

collection.delete_one(
        {
            "id" : "test"
        }
)

In [31]:
list(collection.find())

[{'_id': ObjectId('63ace0fd5cfa31ba6493b5ce'),
  'id': 'test',
  'password': '1234'},
 {'_id': ObjectId('63ace31e5cfa31ba6493b5cf'),
  'name': 'test',
  'phone': '01012345678',
  'gender': 'male'},
 {'_id': ObjectId('63ace31e5cfa31ba6493b5d0'), 'loc': 'seoul'}]

In [34]:
# mongodb select 조건식

# find(조건1,조건2,조건3,...,컬럼선택)
# 1. db.collection.find() > select * FROM TABLE 
# 2. db.collection.find({},{"id":1, "password":1}) > select id, password FROM TABLE 
# 3. db.collection.find({},{"id": 1, "password" : 1, "-id":0}) > select id, password FROM TABLE (_id라는 항목은 보여주지 않겠다)
# 4. db.collection.find({"id":"test"}) > selct * from table where id = "test"
# 5. db.collection.find({"id" : "test" , "password" : "1234"}) > select  * from table where id = test and password = 1234
# 6. db.colletion.find({"id" : "test"},{"password" : "1234"}) > select * from table where id = test or password = 1234
# 7. db.colletion.find({"age" : {$gt : 25}}) > select * from tablewhere age > 25  
# 8. db.colletion.find("age" : {$1t : 25}}) > select * from table where age < 25
# 9. db.colletion.find({"id" : {{/bc/}}) > select * from table where id like %bc%
# 10. db.colletion.find().sort({"id" : 1 }) > select * from table where order by id asc
# 11. db.colletion.find().sort({"id" : -1}) > select * from table where order by id desc
# 12. db.colletion.find.limit(10) select * from table limit 10