In [26]:
a = 10
b = "hello world"

print(a)
print(b)

print(type(a))
print(type(b))

10
hello world
<class 'int'>
<class 'str'>

In [27]:
c = "10"

print(c)
print(type(c))

10
<class 'str'>

In [28]:
#연산자
# 1. 대입연산자
# 2. 비교연산자
# = 주석 > 언어로써 실행 x, 설명부분

In [29]:
#산술연산자
x = 5
y = 3
print(x+y,x-y,x*y,x/y,x//y,x%y,x**y)

8 2 15 1.6666666666666667 1 2 125

In [30]:
# 대입연산자
# += -= *= ...
# a += 1 > a = a + 1
# x의 값은? > 5
x += 1
print(x)

6

In [31]:
#현재 x의 값은? 19
x -= 3
print(x)

3

In [32]:
# 비교연산자
#결과값이 논리값 > true or False

a = 5
b = 3

print(a==b, a!=b, a>b, a<b, a>=b, a<=b)

False True True False True False

In [33]:
# and or not
#  and > 두 조건식이 참이면 참, else 거절
#  or > 두 조건 중 하나만 참이면 참, 두 조건 모두 거짓이면 거짓
#  not > 참이면 거짓 거짓이면 참

print( (a>3) and (a<10))
print( (a<3) and (a<10))
print( (a<3) or (a<10))
print((a>3) and (a<10))

True
False
True
True

In [34]:
# if문
# 1.조건이 참인 경우 코드 실행
# 2.조건이 거짓인 경우 코드 실행 x
# 거짓인경우 코드 실행하기 위해서는 else문 추가

In [35]:
a = 5

if a < 10 :
    print("a는 10보다 작다")

print("프로그램 종료")

a는 10보다 작다
프로그램 종료

In [36]:
a = 15

if a < 15 : 
    print("a는 10보다 작다")
else:
    print("a는 10보다 크다")

print ("프로그램 종료")

a는 10보다 크다
프로그램 종료

In [41]:
score = int(input("점수를 입력하시오:"))

if score >= 90 :
    print("A 학점")
elif score >= 80:
    print("B 학점")
elif score >= 70 :
    print("C 학점")
else :
    print("F 학점")

print("프로그램 종료")

A 학점
프로그램 종료

# 반복문
# 1. for문
# 2. while 문

In [ ]:
# for문 

for i in range(0,5,1) : 
    print(i)

print("반복문 종료")

0
1
2
3
4
반복문 종료

In [ ]:
for i in range(5) :
    print(i)

print("반복문 종료")

0
1
2
3
4
반복문 종료

In [ ]:
for i in range(2 ,20 ,2) : 
    print(i)

2
4
6
8
10
12
14
16
18

In [ ]:
for i in range(10,1,-1) : 
    print(i)

10
9
8
7
6
5
4
3
2

In [ ]:
#문제 for문을 이용해서 1부터 10까지의 합을 구하시오
# for문을 이용하여 1부터 50까지의 짝수의 합을 구하시오


 
#합계라는 변수 하나 생성 > for문에서 합계를 증가 > for문이 끝난 후 합계를 출력


sum = 0

for i in range (1,11,1) : 
    sum += i
    # sum = sum +i
print("1부터 10까지의 합은 %d" %sum)



# 짝수라는 의미는 i % 2 = 0

sum = 0 

for i in range(1,51,1):
    if i % 2 == 0 :
        sum += i
        print(i)

print(sum)

1부터 10까지의 합은 55
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
650

In [ ]:
# 문제
# 주사위 두 개의 합이 10인 경우의 수를 출력하시오
#다중 for문  for i in range():
              #for j in range()
              # 두 주사위의 합이 10인 경우에만 출력

#sum = 0

# 내 풀이 for i in range(1,7,1):
    #for j in range(1,7,1):
        #if sum == 10:    
            #print(sum)

print(sum)

# 주사위 두 개를 (총 경우의 수 36개) 밑에 정답

for i in range(1,7,1):
    for j in range(1,7,1):
        if i + j == 10 :
            print(i,j)

0
4 6
5 5
6 4

In [ ]:
# while 문 
# 변수 = 초기값
# while 조건식 : 
    #반복실행될 코드
    #초기값에 증감식

#i =  0
#while i < 10 :
    #print(i) >  무한반복 > i의 값이 증가하지 않기 때문

i = 0 
while i < 10 : 
    i += 1 
    print(i)
    
i = 0
while i < 10 :
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9

In [ ]:
# break문 

for i in range(1,100,1):
    if i == 7 :
        break
    print(i)

1
2
3
4
5
6

In [ ]:
for i in range(1,100,1):
    print(i)
    if i == 7 :
        break
        
print(i)

1
2
3
4
5
6
7
7

In [ ]:
# 문제 
# 1에서 1000까지의 합을 구하는데 합계가 900이 넘어가는 최초의 숫자
# 합계라는 변수를 지정 후 0 대입
# for, while문을 이용하여 1부터 1000까지의 합계를 구하는 반복문 생성
# 합계가 900이 넘어가는 지점에 i의 값을 출력
# i값을 출력한 후 반복문을 종료


sum = 0

#for i in range(1,1001,1) :
    #if sum += i == 900 :
        #break
    #print(i)

for k in range (1,1001,1):
    sum += k
    if sum >= 900:
        print(k)
        break 
print(sum)

42
903

In [ ]:
sum = 0
i = 1

while i < 1000 :
    sum += i 
    if sum >= 900 :
        print(i)
        print(sum)
        break
    i +=1

42
903

In [ ]:
# 튜플 데이터의 형태
a = (10,"test")
b = (3,3.14)
c = (a+b)
d = a*3

print(a,b,c,d)

(10, 'test') (3, 3.14) (10, 'test', 3, 3.14) (10, 'test', 10, 'test', 10, 'test')

In [ ]:
# a라는 변수에서 10이라는 원소 값 하나만 출력

print(a[0])

10

In [ ]:
print(a[1])

test

In [ ]:
print(a[1][0])

t

In [ ]:
a = (10,20,30,40)

In [ ]:
# a라는 튜플에서 두 번째 원소부터 네 번째 원소까지 출력하려면 
print(a[1:5])
print(a[1:])

(20, 30, 40)
(20, 30, 40)

In [ ]:
# a 튜플에서 처음부터 3번째 원소까지 출력

print(a[:3])
print(a[0:3])

(10, 20, 30)
(10, 20, 30)

In [ ]:
# 리스트 형태

a = [20,10,90,5]
b = [10,20,30,40]

In [ ]:
print(a)
print(b)

[20, 10, 90, 5]
[10, 20, 30, 40]

In [ ]:
#리스트에 있는 내장함수 
# sort() > 리스트 내부의 원소들을 오름차순으로 정렬해주는 함수

a.sort()
print(a)

[5, 10, 20, 90]

In [ ]:
# 역순으로 변경 > reverse()

b.reverse()
print(b)

[40, 30, 20, 10]

In [ ]:
# append() > 리스트 가장 마지막에  원소를 추가하는 함수

a.append(22)
print(a)

[5, 10, 20, 90, 22]

In [ ]:
l = []
print(l)
l.append(1)
print(l)

[]
[1]

In [56]:
# 3부터 70까지 3의 배수를 리스트 만들어서 출력

# 비어있느 리스트 생성
a = [] 
# 1부터 70까지 숫자들을 반복
for i in range(1,70,1):
    #반복하는 숫자들 중 3의 배수 
    #i % 3 ==0
    if i % 3 ==0 :
        a.append(i)
print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [ ]:
a = []
i = 1

while i <= 70:
    if i % 3 == 0 : #>> % = 나누고 나머지의 값
        a.append(i)
    i +=1
print(a)


# 연산기호 주의

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [ ]:
# 딕셔너리 형태의 데이터 
# 사전형 데이터 
# {key : value}

dict = {"name" : "test", "age" : 20, "phone" : "01012345678"}
print(dict)

{'name': 'test', 'age': 20, 'phone': '01012345678'}

In [ ]:
# test 단어 출력 하려면 
print(dict["name"])

test

In [ ]:
# key : value 값 추가
# "area" : "seoul" 값 추가

dict["area"] = "seoul"
print(dict)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'seoul'}

In [ ]:
#age 값 30으로 변경
dict["age"]  = 30
print(dict)

{'name': 'test', 'age': 30, 'phone': '01012345678', 'area': 'seoul'}

In [59]:
# sql = database에서 데이터를 가지고 올 때 데이터의 형태  
# [{key1 : value1, key2 : value12},]

test_data = [
    {  "name" : "test",
        "age"  : 20
    },
    {
        "name" : "test2",
        "age"  : 30
    },
    {
        "name" : "test3",
        "age"  : 35
    }
]

# 리스트 안 딕셔너리 형태

In [60]:
# test data라는 변수에서 {"name":"test","age":20}값 추출
print(test_data[0])
# test data에서 "test"라는 문자열을 출력하려면?
print(test_data[0]["name"])
# test data라는 변수에서 30이라는 수 출력
print(test_data[1]["age"])

{'name': 'test', 'age': 20}
test
30

In [64]:
# test_data에서 나이 20 30 35이 데이터를 추출해서 리스트의 형태로 출력
# 비어있는 리스트 생성
# test_data에서 각 원소별로 총 3번 반복
# 리스트를 출력

result = []

for i in range(0,3,1):
    print(test_data[i]["age"])
    result.append(test_data[i]["age"])
print(result)    





# print(test_data[0]["age"],test_data[1]["age"],test_data[2]["age"])
f"나이는 {result}입니다"
print(f"나이는 {result}입니다")

20
30
35
[20, 30, 35]
나이는 [20, 30, 35]입니다

In [68]:
a = []
test = [10,20,6]

for i in test:
    print(i)
    a.append(test)
print(a)

10
20
6
[[10, 20, 6], [10, 20, 6], [10, 20, 6]]

In [69]:
#len() 함수는 길이를 출력

len(test)

3

In [70]:
# test_data의 데이터 형태 > 리스트 []


for i in range(0, len(test),1) : 
    print(test[i])

10
20
6

In [ ]:
result = []
for i in test_data :
    result.append(i["age"])
print(result)

[20, 30, 35]

In [ ]:
# 문자열 함수

In [84]:
# 대, 소 문자 변경 
a = "hello world"
print (a.upper)
print (a.lower)
print (a.title)
a

<built-in method upper of str object at 0x0000021EDC04A0B0>
<built-in method lower of str object at 0x0000021EDC04A0B0>
<built-in method title of str object at 0x0000021EDC04A0B0>

'hello world'

In [79]:
# 공백을 제거하는 함수
# strip replace
a = " hello world "
a

'hello world'

In [83]:
a.lstrip
a.rstrip
a.strip
a

'hello world'

In [ ]:
a.replace(" ", "")

'helloworld'

In [ ]:
a.replace("hello","hi")

' hi world  '

In [ ]:
# split() > 기준이 되는 문자열이나 특수문자를 기준으로 나눠주는 역할

x = "a,b,c,d"
print(x.split(","))
#c라는 문자를 바로 출력하려면
#case 1 split을 사용하지 않는 경우
print(x[4])
#case 2 split을 사용하는 경우
print(x.split(",")[2])

['a', 'b', 'c', 'd']
c
c

In [ ]:
# 함수
# def함수명(매개변수)
# 실행할 코드1
# 실행할 코드2
# return 출력값
# 함수 > 데이터를 일반적인 저장 방식 아니라, 뭔가 행동을 하고 난 뒤에 결과값을 돌려주는
# def 함수명 (매개변수) :

def func_1(a,b):
    result = a + b
    return result

c = func_1(1,2)
print(c)
print(func_1(1,3))
print(func_1(10,2))

3
4
12

In [ ]:
# 변수의 종류 
# 전역 변수
    # 전체, 어디서든 사용 가능
    # 들여쓰기를 하지 않은 공간에서 지정한 변수
# 지역 변수
    # 정해진 지역,특정한 구간에서만 사용 가능
    # 함수 안에서 만든 변수(들여쓰기를 한 곳에서 한 변수)

In [ ]:
x = 3 

def func_2(a) :
    result = a * x
    return result

print(func_2(4))
print(x)

12
3

In [38]:
def func_3(a):
    func_3_y = 3
    func_3_result = a * func_3_y
    return func_3_result

print(func_3(4))

12

In [ ]:
def func_4 (a,b,c=1) :
    result = a + b - c
    return result

print(func_4(5,3),end="")
print(func_4(5,3,4),end="")
print(func_4(a=1,c=5,b=3))

74-1

# 함수 생성 문제 
1. 함수 생성 매개변수 3개 a,b,c
2. c의 값이 '합' 이면 result = a + b
3. c의 값이 '차' 이면 result = a-b
4. 그 외의 값이면 result = error
5. retrun result
6. print (함수명(3개의 인자값))
7. 합과 차 그리거 error 출력

In [ ]:
def func_5(a,b,c) : 
    if c == "합" :
        result = a + b
    elif c == "차" :
        result = a - b
    else :
        result = "error"
    return result 

print(func_5(2,5,"합"))
print(func_5(1,2,"차"))
print(func_5(1,2,"곱"))

7
-1
error

In [ ]:
# 함수 생성
#매개변수 두 개를 가진 함수 생성(매개변수에는 숫자형만 넣어서 실행)
# a와 b 사이에 숫자들의 합계를 retrun(a,b모두 포함되어있는 경우)
# a와 b사이에는 대소 관계는 정해져 있지 않다
# a와 b가 같은 경우 a를 retrun
# print(func_6(1,10)) 
# print(func_6(1,10))

In [ ]:
def func_8(a,b) :
    sum = 0 
    for i in range(min(a,b), max(a,b)+1, 1) :
        sum += i
    return sum

print(func_8(1, 10))
print(func_8(10, 1))

55
55

In [ ]:
def func_7(a,b):
    sum = 0
    if a < b :
        for i in range(a,b+1,1) :
            sum += i
    elif a > b :
        for i in range(b,a+1,1) :
            sum += i
    else :
        sum += i 
    return sum

print(func_7(1,10))
print(func_7(10,1))

55
55

In [ ]:
def func_9(a,b):
    sum = 0
    if a < b : 
        while a <= b :
            sum += a
            a += 1
    elif a > b :
        while b <= a :
            sum += b
            b += 1
    else :
        sum = a 
    return sum

print(func_9(1,10))
print(func_9(10,1))

55
55