In [10]:
import pandas as pd

In [2]:
uriage = pd.read_csv("../csv/uriage.csv")
uriage.head(6)

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현
5  2019-03-20 19:16       상품S      1900.0           김우진

In [3]:
uriage.isna().sum()

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64

In [15]:
uriage_1 = uriage.copy()

In [16]:
uriage_1["purchase_date"] = pd.to_datetime(uriage_1["purchase_date"])

In [17]:
# item_name에 있는 모든 데이터를 대문자로 통일
# str >> 문자열로 변경

uriage_1["item_name"] = uriage_1["item_name"].str.upper()

In [18]:
uriage_1.head()

        purchase_date item_name  item_price customer_name
0 2019-06-13 18:02:00       상품A       100.0           김가온
1 2019-07-13 13:05:00     상 품 S         NaN           김우찬
2 2019-05-11 19:42:00     상 품 A         NaN           김유찬
3 2019-02-12 23:40:00       상품Z      2600.0           김재현
4 2019-04-22 03:09:00       상품A         NaN           김강현

In [19]:
# item_mane의 데이터에서 공백제거
# 공백을 제거하는 함수
# stirp() > 양쪽의 공백을 제거하는 함수 (앞에 l,r을 붙여줘서 공백을 제거할 쪽을 정할 수 있음,문자열 사이의 공백은 제거 불가)
# replace() > 지정한 문자열을 대체하는 함수 > 공백(" ")을 문자열로 변환 가능

# case1
# uriage_1["item_name"].srt.replace(" ","")


# case2
# apply 함수

# def change(x):
    # result = x.replace(" ","")
    # return result

# uriage_1["item_name"].apply(change)




# case3 
# aaply함수 + lambda 함수
uriage_1["item_name"].apply(lambda x : "OT" if )

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object